#header {
    text-align:center;
    position:absolute;
    left:0px;
    right:0px;
    top:100px;
    margin:auto;
    width:30vw;
    border-bottom: 1px solid #CCC;
}

#center {
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    margin:auto;
    width:30vw;
    height:30vh;
    text-align:center;
    transition:right 0.2s, bottom 0.2s;
}

#img1 {
    height:30vh;
    transition:height 0.2s;
}

.button {
    margin:auto;
    position:absolute;
    border-radius:4px;
    cursor:pointer;
}

#buttons {
    opacity:1;
    transition:opacity 2s;
}

#top, #bot {
    left:0px;
    right:0px;
}

#top {
    top:-75px;
}

#bot {
    bottom:-75px;
}

#left, #right {
    top:0px;
    bottom:0px;
}

#left {
    left:-50px;
}

#right {
    right:-50px;
}

#avatar1, #avatar2, #plus, #minus {
    bottom:-30px;
    right:0px;
}

#avatar1 {
    left:-165px;
}

#avatar2 {
    left:0px;
}

#plus {
    left:120px;
}

#minus {
    left:190px;
}

#menu {
    position:absolute;
    top:0px;
    right:-75px;
    width:75px;
    transition:right 1s;
}

#menuButton {
    width:50px;
    position:absolute;
    left:-50px;
}

.menuImg {
    width:75px;
}

.extraImg {
    position:absolute;
    display:none;
    bottom:0px;
    right:100px;
    width:150px;
    height:auto;
    transition:left 0.2s, right 0.2s, top 0.2s, bottom 0.2s, width 0.2s;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#but1, #but2, #but3 {
    border-radius:4px;
}

#upB {
    right:0px;
    top:245px;
}

#downB {
    top:275px;
}

#leftB {
    top:305px;
}

#rightB {
    top:335px;
}

#plusB, #minusB {
    top:365px;
}

#plusB {
    right:40px;
}

#minusB {
    right:5px;
}